import click
import sys

"""
Main entry point
    type `pyetl {{ package }} --help` on Command line for a comprehensive description
"""


@click.command()
def {{ function }}():
    sys.exit(0)


if __name__ == "__main__":
    {{ function }}()

